* {
  font-family: Roboto;
  /* list-style-type: none; */
  text-align: center;
}

#munro-list{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  padding:0;
  list-style-position: inside; /* to align the bullet point central with text */
}

li {
  list-style: none;
}

#munro-list > div {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  margin: 10px;
  /* text-align: center; */
  justify-content: center;
  padding: 5px;

}

#munro-list > div:nth-child(odd) {
  background-color: rgba(13, 3, 9, 0.31);
}

#munro-list > div:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
